@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');

*,
html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
}

input[type='search']::placeholder {
  color: rgba(0, 0, 0, .2)
}

.btn-cart:hover {
  scale: 1.2;
  cursor: pointer;
}

.sidebar-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sidebar-img {
  width: 52px; /* Tăng kích thước ảnh */
  height: 50px;
  border-radius: 50%; /* Bo tròn hình ảnh */
}
.brand {
  text-decoration: none;
}
.brand-name {
  font-size: 18px;
  font-weight: bold;
  color: #121312; /* Màu xanh lá cây */
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2); /* Hiệu ứng bóng cho chữ */
  transition: color 0.3s ease-in-out; /* Hiệu ứng màu chữ */
}

.brand-name:hover {
  color: #d4481d; /* Màu cam khi hover */
  cursor: pointer;
}
.card-image-middle {
  vertical-align: middle;
}

/* search */
.search {
  border-radius: 10px;
  min-width: 500px;
  border: 1px solid #ccc; 
  padding: 8px; 
  outline: none;
  font-size: 1rem;
  font-weight: 200; 
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s ease; /* Thêm hiệu ứng chuyển động */
}

.search-icon:hover {
  font-size: 1.6rem;
  transform: translateY(-50%) scale(1.2); /* Kích thước tăng lên khi hover */
}

.icon-container {
  display: flex;
  align-items: center;
}
.search:focus {
  border-color: #66afe9; 
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6); 
}


.order-summary {
  background-color: rgba(0, 0, 0, .2);
  padding: 5px;
  border-radius: 5px;
}

.btn-checkout:hover {
  background-color: #077441 !important;
  cursor: pointer;
}

.cart-table>tbody>tr>td {
  padding: 20px 0px;
  vertical-align: middle;
}

.product-image {
  width: 40%;
  margin-right: 4px;
  padding: 0px 5px;
  filter: alpha(opacity=20)
}

.btn-remove {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.btn-remove:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .5);
}

.cart-quantity-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-quantity {
  display: flex;
  align-items: center;
  width: 100px;
  background-color: rgba(0, 0, 0, .4);
  justify-content: space-between;
  padding: 4px 10px;
  border-radius: 15px;
}

.cart-quantity>span:first-child {
  cursor: pointer;
  width: 25px;
  text-align: center;
}

.cart-quantity>span:nth-child(2) {
  text-align: center;
  flex-grow: 1;
}

.cart-quantity>span:last-child {
  cursor: pointer;
  width: 25px;
  text-align: center;
}

.action-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}